body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.first{
    position: relative;
    display: inline-block;
}
h1{
    display:block;
    font-family:"Langar",system-ui;
    font-size:5vw;
}
h2{
    font-family: "Langar" ;
    font-size: 3rem;
}
.first img{
    display:block;
    width: 100%;
    height: auto;
}
.TEXT{
   position: absolute;
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   color: #e33a6a;  
   font-size: 20px; 
   text-align: center;
}
.second{
    background-color: #edacbe;
    padding:10px;
}
.Meripic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 300px;
    height:auto;
    border: #edacbe;
    border-radius:10 px;
    padding:10px;
}
.h22{
    text-align: center;
    color: #f32861;
}
h3{
    text-align: center;
    font-family: "Langar";
    font-size: 2vw;
    color: #f32861;
}
.skill{
    text-align: center;
    color: rgb(3, 232, 45);
}
.code2{
    width:100%;
    height:auto;
    margin:5px 0;
}
.skills{
    display:grid;
    grid-template-columns:1fr;
    width:80%;
    margin: 0 auto;
    text-align: left;
    row-gap: 2rem;;

}
p{
    font-family: "Margarine";
    font-size:1.5vw;
}
.pingy2{
    width:100%;
    height:auto;
    margin:5px 0;
}
.foot{
    background-color: rgb(39, 226, 114);
    text-align: center;
    padding:10px 0;
}

@media (min-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 60%;
    }

    .Meripic {
        width: 50%;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}